
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

div {
    border: 3px red solid;
    margin: 3px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border: 3px black solid;
}


